* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles */

.x-large {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.large {
  line-height: 1.2;
  margin-bottom: 0.7rem;
}

.para {
  font-size: 1.5rem;
}

.para2 {
  margin-bottom: 0.7rem;
  font-size: 1.3rem;
}

.para3 {
  margin-bottom: 0.7rem;
}

.para4 {
  margin-top: 8px;
}

.fa-user {
  color: #F5DBE7;
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
}



/* Navbar */
.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  opacity: 0.9;
}

.navbar a {
  color: #F5DBE7;
  text-decoration: none;
}

.navbar ul {
  display: flex;
}

.navbar li a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: #F5DBE7;
}

/* Welcome */

.welcome {
  position: relative;
  background: url('./img/beauty2.jpg') no-repeat center center/cover;
  height: 100vh;
}

.dark-bg {
  background-color: rgba(0,0,0, 0.3); 
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.welcome-inner {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Buttons */

.buttons {
  margin-top: 1rem;
}

.btn1 {
  background: #FFCCE5;
  color: #FFF;
  text-decoration: none;
}

.btn2 {
  background: #FFF;
  color: #FFCCE5;
  text-decoration: none;
}

.profile-button {
  background: #FFCCE5;
  color: #FFF;
  text-decoration: none;
  margin-top: 0.6rem;
}

.delete {
  background: #FA1616;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}

.btn1, .btn2, .delete, .profile-button {
  display: inline-block;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  border-radius: 7%;
}

.btn1:hover, .btn2:hover {
  filter: brightness(105%);
}

/* Spinner */
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #f5dbe7;
  background: -moz-linear-gradient(left, #f5dbe7 10%, rgba(245,219,231, 0) 42%);
  background: -webkit-linear-gradient(left, #f5dbe7 10%, rgba(245,219,231, 0) 42%);
  background: -o-linear-gradient(left, #f5dbe7 10%, rgba(245,219,231, 0) 42%);
  background: -ms-linear-gradient(left, #f5dbe7 10%, rgba(245,219,231, 0) 42%);
  background: linear-gradient(to right, #f5dbe7 10%, rgba(245,219,231, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #f5dbe7;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Forms */
.form .form-section {
  margin: 0.8rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

p a {
  color: #FFCCE5;
  font-weight: bold;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 2px solid #F5DBE7;
  margin-bottom: 1.1rem;
  height: 30px;
}

.form input[type='submit'],
button {
  font: inherit;
  margin-bottom: 0.7rem;
}

.form .form-group {
  margin: 0.7rem 0;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  width: 3.3rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}

.icons i.fa-youtube {
  color: #c4302b;
}

.icons i.fa-instagram {
  color: #3f729b;
}

.icons i.fa-facebook {
  color: #3b5998;
}

.icons i.fa-twitter {
  color: #38a1f3;
}

/* Profile */

.profile {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  align-items: center;
  grid-gap: 0.5rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  border: 1px solid black;
}

.profile-header {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.round-img {
  border-radius: 50%;
}

.p-2 {
  padding: 2rem;
}

/* .my-1 {
  margin: 1px 0;
} */

.fab {
  margin: 0 0.4rem;
}

h1 {
  color: #FFCCE5;
}

/* Mobile */
@media (max-width: 700px) {

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }
}

